<div class="row">
  <div class="col-xs-12">
    <img
      [src]="image.imagePath"
      alt="{{ image.name }}"
      class="img-responsive"
      style="max-height: 300px;">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{ image.name }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    {{ image.description }}
  </div>
</div>
<div class="row">
  <div class="col-xs-4">
    <button mat-button (click)="openDialog()">Add to album</button>
  </div>
  <div class="col-xs-4">
    <button mat-button (click)="editMetaData()">Image Properties</button>
  </div>
  <div class="col-xs-4">
    <button mat-button (click)="onSaveImage()">Save Image</button>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <button mat-button (click)="onCodeImage()">Code Image</button>
  </div>
</div>
<hr>
<div class="col-xs-12">
  <button (click)="onFetchPostData()">Fetch Posts</button>
</div>
<app-image-post></app-image-post>
